body {
  margin: 70px;
  background-color: #1b244a;
  min-width: 575px;
  min-height: 385px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.scoreboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 25px;
}

.scoreboard-container h3 {
  color: #eeeeee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000000;
  text-align: center;
  vertical-align: top;
  margin: 0;
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  width: 155px;
  height: 140px;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}

.home-score-btn-container,
.guest-score-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  border-radius: 5px;
  font-family: "Cursed Timer ULiL", sans-serif;
  font-size: 18px;
  background: none;
  border: 2px solid #9aabd8;
  color: #9aabd8;
  height: 45px;
  width: 45px;
}

button:hover {
  background-color: #9aabd8;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  border: 2px solid #fff;
}

button.new-game-btn {
  display: block;
  margin: 0 auto;
  width: 120px;
}

.winner {
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 1.25;
  color: #ffcc00 !important;
  text-shadow: 4px 2.5px 1px #7a5e02 !important;
  transition: 50ms ease-out;
}

#home-score-el,
#guest-score-el {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cursed Timer ULiL", sans-serif;
  font-size: 90px;
  color: #f94f6d;
  margin: 0;
}
